
.author{
    .card { 
        // width: 30rem;
        &-img-top
        {
            width: 100%;
            height: 25rem;
        }
    }
    &-detail {    
        .card{
            &-img-top { 
                width: 100%; 
                height: 45rem;
            }
        }
        .btn {
            height: 4rem;
        }
    }
    & , &-detail{
        .card{
            &-title { font-size:  2.5rem}
            &-text { line-height: 2.8}
        }
    }
}



