.section{
    margin-top:10rem;
    margin-bottom:10rem;
   padding-top: 5rem;
   padding-bottom:5rem;
   
   &--bg{
    position: relative;
        &:before{
            content: "";
            position: absolute;
            top: 0; left: 0;
            width: 100%; height: 100%;
            background-image: url('../images/cover4.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            filter: opacity(40%) ;
        }
    }
}
